* {
  box-sizing: border-box;
}

body {
  margin: 0;
}


.login-page {
  display: flex;
  height: 100vh;
  width: 100%;
}

.login-left {
  width: 50%;
  padding: 80px 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-family: 'Outfit-Semibold';
  font-size: 36px;
  color: #2f7d1f;
  margin-bottom: 8px;
}

.divider {
  width: 260px;
  height: 1px;
  background-color: #9acb8f;
  margin-bottom: 40px;
}

/* FORM */
.login-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

label {
  font-family: 'Outfit-Medium';
  font-size: 15px;
  color: #2f7d1f;
}

input {
  height: 36px;
  border-radius: 6px;
  border: 1px solid #bdbdbd;
  padding: 0 12px;
  font-family: 'Outfit-Medium';
  outline: none;
}

input::placeholder {
  color: #b5b5b5;
}

/* BUTTON */
.login-btn {
  margin-top: 28px;
  height: 40px;
  border-radius: 10px;
  border: none;
  background-color: #6fd23b;
  color: white;
  font-family: 'Outfit-Semibold';
  cursor: pointer;
}

.login-btn:hover {
  background-color: #63c133;
}

/* SIGN UP TEXT */
.signup-text {
  margin-top: 22px;
  font-family: 'Outfit-Medium';
  font-size: 14px;
}

.signup-link {
  color: #6fd23b;
  cursor: pointer;
  font-family: 'Outfit-Semibold';
}

/* RIGHT SIDE IMAGE */
.login-right {
  width: 50%;
  background-image: 
    linear-gradient(
      rgba(0, 80, 0, 0.6),
      rgba(0, 80, 0, 0.6)
    ),
    url('../../../assets/images/loginpage.jpg');
  background-size: cover;
  background-position: center;
}
.error {
  color: #e53935;
  font-size: 12px;
  margin: 4px 0 0;
  line-height: 1.4;
  font-family: 'Outfit-medium';
}

a{
  color: #6fd23b;
  text-decoration: none;
}