
.logo{
    padding: 19px;
    font-family: "outfit-medium";
    font-size: 25px;
    display: flex;
    align-items: center;
 
}
.navbar-card{
    margin: 0px;
    width: 100%;
    height: 50px;
    background-color: #ffffff;
    display: flex;
    box-shadow:  0.1px 1px 10px black;
    position: fixed;
    align-items: center;
}
.navbar-nav{
    margin-left: auto;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    
 
}
#navbar-list{
  
    list-style: none;
}  


ul li{
     float: left;
    padding-left: 10px;
     margin-right: 50px;
  
     font-family: "outfit-medium";
 
    
}
#navbar-list  :hover{
    color: rgb(63, 111, 54);
    font-size: 17px;
    transition: 0.3s;
}
#navbar-list a{
    text-decoration: none;
    display: flex;
    color: black;
   
}

.signupbutton{
     background-color: #66D136;
     color:#ffffff;
     border-width: 1px;
     border-color: #66D136;
     border-radius: 20px;
     text-decoration: none;
     padding:10px;
     margin: 10px;
     box-shadow: none;
    border-style: solid;

}
.loginbutton{
    background-color: #ffffff;
     color:#66D136;
     box-shadow: none;
     border-width: 2px;
     border-color: #66D136;
     border-radius: 20px;
     text-decoration: none;
     padding: 10px;
     border-style: solid;
}
a{
    font-family: "outfit-medium";
    text-decoration: none;
    color: #ffffff;
}