
body,html{
    padding: 0%;
    margin: 0%;
    font-family: 'Outfit-Medium';
}


:root {
  --lightgreen-color: #66D136;
  --darkgreen-color : #19321C;
  --yellow-color: #FDEF98;
  --bg-color: #ffffff;
  --text-color: #000000;
  --mainbutton-color:var(--lightgreen-color);
  --deletebutton-color:#ff6b6b;

    
  --card-bg: #f5f5f5;
  --card-radius: 12px;
  --card-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  
  --space-sm: 8px;
  --space-md: 16px;
  --space-lg: 32px;

  

  
}

body[data-theme='dark'] {
  --primary-color: #90caf9;
  --secondary-color: #f48fb1;
  --bg-color: #121212;
  --text-color: #ffffff;
}

@font-face {
  font-family: 'outfit-medium';
  src: url('./assets/fonts/Outfit-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'outfit-bold';
  src: url('./assets/fonts/Outfit-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'outfit-semibold';
  src: url('./assets/fonts/Outfit-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}