.footer {
  background: var(--darkgreen-color);
  color: #d4f5d0;
  padding: 3rem 2rem 1rem 2rem;
 
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}

.footer-brand {
  flex: 1;
  min-width: 250px;
}

.footer-brand h2 {
  color: var(--primary-color);
  margin-bottom: 1rem;
}

.footer-brand p {
  font-size: 0.9rem;
  margin-bottom: 1.5rem;
  max-width: 300px;
}

.footer-section {
  flex: 1;
  min-width: 180px;
}

.footer-section h3 {
  margin-bottom: 1rem;
  color: var(--primary-color);
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 0.6rem;
  font-size: 0.9rem;
}

.footer-section a {
  text-decoration: none;
  color: #d4f5d0;
  transition: 0.3s;
}

.footer-section a:hover {
  color: #7CFC00;
}

/* Social */
.social-icons a {
  display: inline-block;
  margin-right: 1rem;
  text-decoration: none;
  font-size: 0.9rem;
  color: #d4f5d0;
  transition: 0.3s;
}

.social-icons a:hover {
  color: #7CFC00;
}

/* Bottom */
.footer-bottom {
  border-top: 1px solid rgba(255,255,255,0.2);
  margin-top: 2rem;
  padding-top: 1rem;
  text-align: center;
  font-size: 0.85rem;
  color: #a5d6a7;
}
