/* GLOBAL */
html, body {
    margin: 0;
    padding: 0;
    background-color: #F2F0E0;
    
    
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 24px;
}

/* HERO */
.bg-img {
    height: 700px;
    filter: brightness(75%),blur(5px);
    background-image: url('../../../assets/images/hero-background-img.jpg');
    background-size: cover;
    background-position: center bottom;
    display: flex;
    align-items: center;
}

.hero-content {
    color: #fff;
}

.hero-main-text {
    font-family: 'outfit-semibold';
    font-size: 90px;
    color: #fff29d;
    margin-bottom: 20px;
}

.hero-subtext {
    font-size: 18px;
    max-width: 500px;
    margin-bottom: 30px;
}

.primary-btn {
    background-color: #66D136;
    border: none;
    padding: 14px 28px;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
}

/* GROW */
.grow-img {
    height: 350px;
    background-image: url('../../../assets/images/grow.png');
    background-size: cover;
    display: flex;
    align-items: center;
}

.main-text {
    font-family: 'outfit-medium';
    font-size: 80px;
    color: #ffffff;
}

/* EXPERTS */
.experts {
    padding: 80px 0;
}

.secondary-text {
    font-size: 40px;
    margin-bottom: 40px;
}

.expert-div {
    display: flex;
    gap: 30px;
}

.experts-card {
    flex: 1;
    height: 400px;
    background-color: #66D136;
    border-radius: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 30px;

     position: relative;   
    padding-top: 70px;
}
.avatar {
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #f4f4f4; /* match page background */
}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit:cover;
     object-position:20%;
   
   
}


.connect-btn {
    background-color: #1E3A1A;
    color: #fff;
    border: none;
    padding: 10px 26px;
    border-radius: 20px;
    cursor: pointer;
}

/* AI SECTION */
.Ai-section {
    background-color: #1E3A1A;
    min-height: 500px;
    font-size: 40px;
    padding: 100px 0;
    color: #66D136;
    text-align: center;
}

.Chat-section{
    background-color: #66D136;
    color: white;
    min-height: 500px;
    font-family: 'outfit-semibold';
    font-size: 40px;

}

/* PRICE SECTION */
.price-section h1 {
    text-align: center;
 
}
.price-section {
    padding: 80px 0;
    min-height: 500px;
}
.crop-image-section{
    height:300px ;
    width: 300px;
}
.crop-image{
    max-width: 300px;
    max-height:300px;
    object-fit: cover;
}
.price-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.price-text{
    font-size: 40px;
}
.price-card {
    background: #fff;
    border-radius: 20px;
    padding: 30px;
    text-align: center;
    font-size: 20px;
}

.price-card span {
    color: #66D136;
    font-weight: bold;
}

/* SCROLLBAR OFF */
::-webkit-scrollbar {
    display: none;
}

.card{
    box-shadow: none;
    min-height: 400px;
    border:solid 0.5px grey;
}

h1{
    
    margin-top: 0px;
    font-family: 'Outfit-semibold';
}

.bubble{
    max-width: 300px;
    min-width: 300px;
   
    max-height: 300px;
    font-size: 50px;
    padding:30px;
    background-color: white;
    color: black;
    border-radius: 42px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}