.bg-img{
    height: 700px; /* Or min-height: 100vh for a full-page background */
    width: 100%;
    background-image: url('../../../assets/images/hero-background-img.jpg');
    background-size: cover;
    background-position: center bottom;
    display: flex;
    justify-content: center;
    align-items: center;

}
.grow-img{
     height:350px; /* Or min-height: 100vh for a full-page background */
    width: 100%;
    background-image: url('../../../assets/images/grow.png');
    background-size: cover;
   
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-text{
    font-family: 'outfit-semibold';
    font-size: 100px;
    color: #ffffff;
}
body,html{
    padding: 0%;
    margin: 0%;
    background-color: #F2F0E0;
}
.hero-main-text{
    font-family: 'outfit-medium';
    font-size: 100px;
    color: #FDEF98;
    
}
.secondary-text{
    font-family: 'outfit-medium';
    font-size: 40px;
    color: #000000;
}
.experts{
    height: 600px;
}
.Ai-section{
    height: 600px;
    background-color: #8B9271;
}
.price-section{

 height: 600px;
    background-color: #2D4128;
}

.expert-div{
    display: flex;
    margin-top: 40px;
    overflow: auto;
}

.experts-card{
    height: 400px;
    min-width: 330px;
    background-color: #2D4128;
    border-radius: 20px;
    margin: 30px;
}
 
.expert-div::-webkit-scrollbar { display: none; } 


::-webkit-scrollbar{
    display: none;
}